.nav {
  background-color: rgba(220, 207, 218, 0.7);
}

.pull-left a {
  color: rgba(31, 27, 21, 0.9);
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  text-decoration: none;
}

.nav .pull-right {
  padding-top: 30px;
}
.nav .pull-left li {
  display: inline;
}

.nav .pull-right li {
  display: inline;
  padding: 10px;
}

.nav .pull-right a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.jumbotron {
  background-image:url('macongaskyline.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.testimonial h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.testimonial p {
  text-align: center;
}

.testimonial a {
  color: #00b0ff;
  text-align: center;
}

.portfolio h2 {
    color: #393c3d;
    font-size: 35px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.portfolio p {
    font-size: 15px;
    margin-bottom: 13px;
}

.footer {
  background-color: rgba(220, 207, 218, 0.7);
  padding: 30px;
}

.avatar img {
  border: 3px solid black;
  height: 70px;
  width: 70px;
  float: left;
  margin-right: 14px;
  margin-bottom: 5px;
}

.title {
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
}

.bio {
    font-family: 'Titillium Web', sans-serif;
}

.bio a {
  font-weight: bold;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  padding-left: 140px;
  font-size: 20px;
}

.socialicons li {
  display: inline;
}

.socialicons img {
  height: 40px;
  width: 40px;
  margin: 25px;
}

.pagesbottom h4 {
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
}

.pagesbottom p {
  font-family: 'Titillium Web', sans-serif;
}

.copyright {
  text-align: center;
  background-color: rgba(220, 207, 218, 0.7);;
  padding: 15px;
  font-family: 'Titillium Web', sans-serif;
}

